<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="desktop-o6d11fl.QLKhoHang.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-O6D11FL;integrated security=SSPI;initial catalog=QuanLyKho" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>